body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image:
    radial-gradient(
      circle at 50% 0%,
      rgba(255, 255, 255, 0.25) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(192, 192, 192, 0.15) 0%,
      transparent 50%
    ),
    linear-gradient(rgba(0, 0, 0, 0.789), rgba(0, 0, 0, 0.789)),
    url("/Images/wallpaper.jpg");
    
  background-attachment: fixed;
  color: #ffffff;
  background-size: cover;
}
