body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #1e293b;
  background-attachment: fixed;
}

/*
background: 
    radial-gradient(circle, #45b4f9 70%, #006aff 100%, transparent );
*/